<div>

  <h3>Edita tus Productos</h3>

  
  <form action="/products/{{product._id}}/edit" method="POST">

    <label for="name">Nombre:</label>
    <input type="text" name="name" value="{{product.name}}" />
    <br />
    <label for="description">Descripción:</label>
    <input type="text" name="description" value="{{product.description}}" />
    <br />
    <label for="productType">Tipo de Producto:</label>
    <input type="text" name="productType" value="{{product.productType}}"/> 
    <br/>
    <label for="animal">Animal:</label>
    <select name="animal"> {{!--value: --}}

      {{#each animals}}

        <option value="{{this}}" selected="selected">{{this}}</option> {{!--select: --}}

      {{/each}}

    </select>
    <br />
    <button>Editar Producto</button>
  </form>

</div>